<!DOCTYPE html>
<html lang="en">

<head>
    <title>CarPooling Thesis</title>
    <% include partials/head %>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>

<body class="index">
    <div class="containerindex">
        <div class="col-sm-6 mx-auto">
            <div class="card text-center mt-5">
                <!-- <div class="w-100"> -->
                <div class="card-body">
                    <img src="./images/carpooling.jpg" class="img-responsive" alt="" />
                    <h1><span class="fa fa-block"></span>Car Pooling</h1>
                    <p>Welcome !</p>
                    <a href="/login" class="btn btn-light">
                        <span class="fa fa-user"></span> Login
                    </a>
                    <a href="/signup" class="btn btn-light">
                        <span class="fa fa-user"></span> Signup
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>