<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="components/loader.js"></script>
    <script src="components/monaca-jquery/jquery.js" type="text/javascript"></script>
    <!-- <script src="components/loader.js"></script> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>
    <script>
        ons.bootstrap();

        ons.ready(function() {
            //******************Check Authentication******************//
            if (localStorage.length > 3) { //User is logedin
                // document.getElementById('unauthenticated').className = "hide";
                // document.getElementById('authenticated').className = "show";

                googleLogin();
                getToken();
                loadVehicles();
                removeOldJourneys();

                //******************Start Intervals******************//
                startIntervalForFindMatchingJourneys();
                startIntervalsForEachLocalJourney();
                startIntervalsForEachAcceptedJourney();
                startIntervalForMessages();

                startIntervalForGetSentMessages();


            } else {
                // document.getElementById('unauthenticated').className = "show";
                // document.getElementById('authenticated').className = "hide";
            }

            //Google Login
            googleLogin();
        });
    </script>
</head>

<body>
    <ons-sliding-menu var="app.slidingMenu" menu-page="menu.html" main-page="main_map.html" side="left" type="overlay" max-slide-distance="250px">
    </ons-sliding-menu>

    <script>
        document.addEventListener("pageinit", function(e) {
            if (e.target.id == "personal_inf") {
                loadPersonalInf();
            }

            if (e.target.id == "others_personal_inf") {
                loadOthersPersonalInf();
            }

            if (e.target.id == "others_personal_inf_message") {
                loadOthersPersonalInf();
            }

            if (e.target.id == "pending_personal_inf") {
                loadPendingPersonalInf();
            }

            if (e.target.id == "edit_personal") {
                loadPersonalInfVal();
            }

            if (e.target.id == "vehicle_inf") {
                loadVehicleInf();
            }

            if (e.target.id == "others_vehicle_inf") {
                loadOtherVehicleInf();
            }

            if (e.target.id == "edit_vehicle") {
                loadVehicleInfVal();
            }

            if (e.target.id == "new_vehicle") {
                loadNewVehicleInf();
            }

            if (e.target.id == "main_map") {
                loadMap();
                onCloseApp();
                modal.show();
            }

            if (e.target.id == "my_journeys_driver") {
                loadJourneysDriver();
            }

            if (e.target.id == "my_journeys_passenger") {
                loadJourneysPassenger();
            }

            if (e.target.id == "my_journeys_matching") {
                //$(".tab-bar").show();
                loadJourneysMatching();
            }

            if (e.target.id == "journey") {
                loadJourneyVal();
            }

            if (e.target.id == "journey_matching") {
                loadMatchingJourneyVal();
            }

            if (e.target.id == "my_vehicles") {
                loadVehiclesList();
            }

            if (e.target.id == "journey_accepted") {
                loadAcceptedJourneyVal();
            }

            if (e.target.id == "my_messages") {
                loadMessagesList();
            }

            if (e.target.id == "message") {
                loadMessageVal();
                setTimeout(function() {
                    document.getElementById('scrollDown').click();
                }, 1000);
            }
        }, false);
    </script>

    <script src="js/functionsDM.js"></script>
    <script src="js/functions.js"></script>
    <script src="js/config.js"></script>


    <link rel="stylesheet" href="components/loader.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- Leaflet -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
    <!--<script src="leaflet/leaflet.js"></script>
        <link rel="stylesheet" href="leaflet/leaflet.css">-->

    <!-- Leaflet Routing Machine -->
    <script src="routing_machine/leaflet-routing-machine.min.js"></script>
    <script src="routing_machine/Control.Geocoder.js"></script>
    <link rel="stylesheet" href="routing_machine/leaflet-routing-machine.css" />

    <!-- Font Awesome -->
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">

    <!-- Awesome Markers -->
    <link rel="stylesheet" href="awesome_markers/leaflet.awesome-markers.css">
    <script src="awesome_markers/leaflet.awesome-markers.js"></script>

    <!-- Core functions, taken from other sources -->
    <script src="js/core.js"></script>

    <!-- Login scripts -->
    <script src="js/googleLogin.js"></script>
    <script src="js/openfb.js"></script>
</body>

</html>